<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Integrated Manual TestPage</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'guideview/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'guideview/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'guideview/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'guideview/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'guideview/style.css' %}">
    <link rel="stylesheet" href="{% static 'guideview/responsive.css' %}">
    <link rel="stylesheet" href="{% static '/request.css' %}" type="text/css" media="all">
<script>
function goBack() {
  window.history.back()
}
</script>
</head>

<body style="background-color:white; overflow-x:hidden; background-size:cover">
    <div class="wrapper">
        <header class="header">
            <section class="header-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-sm-12 col-xs-12">
                                <div class="main-logo">
                                    <img src="{% static 'guideview/img/infineonlogo.png' %}" style="height:100%; width:10%;" alt="">
                                </div>
                        </div>
                    </div>
                </div>
            </section>
        </header>
        <section class="carosal-area" style="background-image: url('{% static 'guideview/techbg.png' %}');">
            <div class="row">
                <div class="col-xs-6">
                     <div class="client owl-carousel owl-theme">
                        {% for target in viewlist %}
                        <div class="item">
                            <iframe src={{target}} frameborder="1"  scrolling = "no" style="border:none; width:100%; height: 400px;"></iframe>
                        </div>
                        {% endfor %}
                     </div>
                </div>
                <div class = "col-xs-6" >

                <p style="text-align:center;">
                    <table border="1" id="contact" style="text-align:center">
                          <tr>
                            <th colspan="2"><h2 style = "text-align:center">PACKAGE DETAILS</h2></th>
                          </tr>
                    <tr>
                    <th>City:</th>
                    <td>
                        {{city}}
                    </td>

                    </tr>
                    <tr>
                    <th>Region:</th>
                    <td>
                        {{region}}
                    </td>
                     </tr>
                    <tr>
                    <th>Company:</th>
                    <td>
                        {{company}}
                    </td>
                    </tr>
                    <tr>
                    <th>Product number:</th>
                    <td>
                        {{product}}
                    </td>
                    </tr>
                    <tr>
                    <th>
                        Additional Information:
                    </th>
                    <td style="background: Yellow;">
                        {{additional2}}
                    </td>
                    </tr>
                    <tr>
                    <th>
                        Box Type:
                    </th>
                    <td style="background: Yellow;">
                        {{additional}}
                    </td>
                    </tr>
                        </table>

                  <form id="contact" action="" method="POST">
                      <h3>Scan Products</h3>
                        {% csrf_token %}
                        {{error_msg}}
                        <table border="1">
                        {% for field in form.visible_fields %}
                          <tr>
                            <th>{{ field.label_tag }}</th>
                            <td>
                              {{ field }}
                              {{ field.help_text }}
                              {{ field.errors }}
                            </td>
                          </tr>
                        {% endfor %}
                        </table>
                      <input type="hidden" name="product" value={{product}}>
                      <input type="hidden" name="foo" value="bar" />
                      <button type="submit" style="cursor: pointer; width: 25%; border: none; background: #4CAF50; color: #FFF; margin: 0 0 5px; padding: 10px; font-size: 15px;">Request</button>
                  </form>
                </div>
                </div>
        </section>


    </div>
    <div class="col-xs-6 col-sm-4">
    </div>
    <div class="col-xs-6 col-sm-4" style="text-align: center; margin:25px;">
        <div style="max-width: 450px; width: 100%; margin: 0 auto; position: relative; padding: 5px;">
        <button id = "back" onclick="goBack()" style="cursor: pointer; width: 100%; border: none; background: #4CAF50; color: #FFF; margin: 0 0 5px; padding: 10px; font-size: 15px;">Return</button>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4">
    </div>
    <script src="{% static 'guideview/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'guideview/js/animationCounter.js' %}"></script>
    <script src="{% static 'guideview/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'guideview/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'guideview/js/active.js' %}"></script>

    <script type="{% static 'guideview/text/javascript' %}">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>

</html>