<!DOCTYPE html>
<html lang="en" style = "height:100%; width:100%">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Request Form</title>
    <link rel="stylesheet" href="{% static '/request2.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'responsive.css' %}">
</head>
<div  class="topbar" style="height:10%">
    <div class="col-md-2">
            <img src="{% static 'guideview/img/infineonlogo.png' %}" style="width:40%; padding:5%; overflow:hidden;" alt="">
    </div>
    <div class="col-md-8">
        <ul class="topbar_nav" style="margin:0; width:100%; height:100%; display:flex;">
            <li class="col-md-2 topbar_elem"></li>
            <li class="col-md-2 topbar_elem"><table style="height:100%; vertical-align:center"><tr><th><div style="height:80%;"><a class="inner_link" href="/guides/">Picklist Scanning</a></div></th></tr></table></li>
            <li class="col-md-2 topbar_elem"><table style="height:100%; vertical-align:center"><tr><th><div style="height:80%;"><a class="inner_link" href="/picklists/">Print Shipping Labels</a></div></th></tr></table></li>
            <li class="col-md-2 topbar_elem"><table style="height:100%; vertical-align:center"><tr><th><div style="height:80%;"><a class="inner_link" href="/search/">Search</a></div></th></tr></table></li>
            <li class="col-md-2 topbar_elem"></li>
            <li class="col-md-2 topbar_elem"></li>

        </ul>
    </div>
    <div class="col-md-2">
    </div>
</div>
<div class="container">
    <div class="row">
    <div class = "col-md-8 contact"  style="margin-top:5%; padding:0;  height: 80vh;  background:White;">
        <div class = "contact" style="margin:0; padding:0;" >
            {%for item in results%}
            <form method="POST" name="{{item.product}}" action="{{target_url}}"><input type="text" name="product" hidden="True" value="{{item.product}}">
                {% csrf_token %}
                <a href="#" onclick="document.{{item.product}}.submit();" style="color:inherit; margin:50px;">
                        <div class="row search_result">
            <div class="col-md-4">
                 <img src="{% static 'Microchip Pictures/'%}{{item.selected_picture}}" alt={{item.product}} style="height:100%; width:100%;">
            </div>
            <div class="col-md-8 " style="height:100%;">
            <table style="padding:0; width:100%; " >
                    <tr>
                        <th colspan="2"><h2 style = "text-align:center">PACKAGE DETAILS</h2></th>
                    </tr>
                    <tr>
                        <th>City:</th>
                    <td>
                        {{item.city}}
                    </td>

                    </tr>
                    <tr>
                         <th>Region:</th>
                    <td>
                        {{item.region}}
                    </td>
                     </tr>
                    <tr>
                        <th>Company:</th>
                    <td>
                        {{item.company}}
                    </td>
                    </tr>
                    <tr>
                        <th>Product number:</th>
                    <td>
                        {{item.product}}
                    </td>
                    </tr>
                    <tr>
                    <th>
                        Additional Information:
                    </th>
                    <td style="background: Yellow;">
                        {{item.additional2}}
                    </td>
                    </tr>
                    <tr>
                    <th>
                        Box Type:
                    </th>
                    <td style="background: Yellow;">
                        {{item.additional}}
                    </td>
                    </tr>
                </table>
                <div style="height:1px; background:black;"></div>
                </div>
            </div>
                </a>
            </form>
                {% endfor %}

            <p style=" text-align:center; font-size: large; padding:30px;">End of Results</p>

        </div>
    </div>
    <div class = "col-md-4">
      <form class="contact" action="" method="POST" style="margin-top:15%">
          <h3>{{typing}}</h3>
            {% csrf_token %}
            {{error_msg}}
            <table border="1">
            {% for field in form.visible_fields %}
              <tr>
                <th>{{ field.label_tag }}</th>
                <td>

                  {{ field }}
                  {{ field.help_text }}
                  {{ field.errors }}
                </td>
              </tr>
            {% endfor %}
            </table>
          <button type="submit">Request</button>
      </form>
        </div>
</div>
</div>